.registration-form-container {
    display: flex;
    margin-top: 24px;
  }
  
  .registration-form-col-1 {
    width:20%;
    margin:0px;
  }
  .registration-form-col-2 {
    width:60%
  }
  
  .registration-form-col-3{
    width:20%;
    margin:0px;
  
  }