PARENT / MAIN CSS FOR THE SITE


/* @import url(https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css); */

/* p {
  font-family: Tahoma, Verdana, sans-serif;
  } */

/* * {
    border: 2px solid grey;
  } */
  div.wrap {
    max-width: 1920px;
    margin: 0 auto;
  }

body {
  background: #eeeeee;
}

html {
  font-family: "Montserrat", sans-serif;
}

hr{
  height: 1px;
  background-color: #eeeeee;
  border: none;
}


img {
  width: ;
  height: auto;
  -webkit-filter: grayscale(90%); /* Safari 6.0 - 9.0 */
  filter: grayscale(90%);
}

#project-list {
  display: grid;
  display: flex;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
}


/* ///////// INDIVIDUAL PROJECT PAGE CSS///////// */
/* #project-pg-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
  
} */

.project-card-img {
  width: auto;
  height:auto;
  padding: 20px;
  background-color: ;
}

.project-card-title {
  width: auto;
  height:auto;
  padding: 20px;
  background-color: ;
}
/* .project-card-txt {
  width: auto;
  height:auto;
  padding: 20px;
  background-color:;
  font-display: right;
} */

.project-card-progressbar {
  width: auto;
  height:auto;
  paddin: px;
  
}

.project-card-pledges {
  width: auto;
  height:auto;
  padding: 20px;
  color: ;
}

.project-card-comments {
  width: auto;
  height:auto;
  padding: 20px;
  color: ;
}

.project-card-page-col-1 {
  display: flex;
  width: auto;
  height:auto;
  border:0px solid;
  margin-left: auto;
  padding:0px;

}

.project-card-page-col-2 {
  width: auto;

  height:auto;
  border:0px solid;
  margin:0px;
  padding: 0px;
  
}

/* ///////// HOME PAGE ///////// */
.homepage-container {
display: flex;
flex-direction: row;
flex-wrap: no-wrap;
margin-top: 24px;
/* justify-content:; */
  
}
.homepage-col-1 {
  width:33%;
  height: 100%;
  /* border:1px solid;
  border-color:orange; */
  margin:0px;
  margin-bottom: 10px;
  padding: 5px;
  /* float: right; */
}
.homepage-col-2 {
  width:33%;
  height: 100%;
  /* border:1px solid;
  border-color:orange; */
  margin:0px;
  margin-bottom: 10px;
  padding: 5px;
  /* float: right; */
}
.homepage-col-3 {
  width:33%;
  height: 100%;
  /* border:1px solid;
  border-color:orange; */
  margin-bottom: 10px;
  margin:0px;
  padding: 5px;
  /* float: right; */
}
.homepage-col-spacing {
  padding:0px;

}

/* ///////// ALL PROJECTS PAGE ///////// */
#all-project-pg-container {
  margin-top: 24px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  align-content: center;
}
.all-project-card-page-col-1 {
  width:50%;
  height: 100%;
  border:1px solid;
  /* border-color:red; */
  margin:0px;
  padding:0px;
  float: left;
}

.all-project-card-page-col-2 {
  width: 50%;
  height: 100%;
  border:1px solid;
  /* border-color:orange; */
  margin:0px;
  padding: 0px;
  float: right;
}

/*  */

/*** Media Queries Below ***/
/*** Media Queries Below ***/

