#progress-bar {
    height: 30px;
    width: 100%;
    border-color: lightslategray;
    border-style: solid;
  }
  #progress {
    background-color: lightblue;
    height: inherit;
  }
  #progress-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
  }